.popup {
	display: none;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 0 20px;
	z-index: 100;
}
.popup_opened {
	display: flex;
}

.popup__container {
	background-color: #fff;
	padding: 32px;
	border-radius: 10px;
	width: 100%;
	max-width: 430px;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 46px;
}

.popup__btn-close {
	position: absolute;
	top: -40px;
	right: -40px;
}
.popup__btn-close:hover {
	opacity: 0.6;
}

.popup__close-icon {
	width: 100%;
}

.popup__title {
	font-size: 24px;
	font-weight: 900;
}

.popup__form {
	display: flex;
	flex-direction: column;
	gap: 46px;
}

.popup__fieldset {
	border: none;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.popup__input {
	display: block;
	width: 100%;
	padding-block: 13px;
	border: none;
	border-bottom: 1px solid #ccc;
	font-size: 14px;
	transition: all 0.2s ease-in-out;
}

.popup__input:focus {
	outline: none;
	border-bottom-color: #000;
}

.popup__btn-submit {
	width: 100%;
	padding-block: 16px;
	background-color: #000;
	color: #fff;
	font-size: 18px;
}
.popup__btn-submit:hover {
	opacity: 0.8;
}

@media screen and (max-width: 640px) {
	.popup__btn-close {
		right: 0;
		top: -60px;
		width: 26px;
	}
}
